/* Footer */
footer {
    background:#000000;
    color: #fff;
    text-align: center;
    padding: 15px 0;
    font-family: 'Roboto', sans-serif;
    font-size: 0.9em;
    line-height: 1.2;
}

footer ul {
    list-style: none;
    padding: 0;
    margin: 10px 0;
}

footer ul li {
    display: inline;
    margin: 0 10px;
}

footer ul li a {
    color: #ffbd39;
    text-decoration: none;
}

footer ul li a:hover {
    text-decoration: underline;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
    footer {
        padding: 12px 0;
        font-size: 0.85em;
    }

    footer ul {
        margin: 8px 0;
    }

    footer ul li {
        margin: 0 8px;
    }
}

@media screen and (max-width: 480px) {
    footer {
        padding: 10px 0;
        font-size: 0.8em;
    }

    footer ul {
        margin: 6px 0;
    }

    footer ul li {
        display: block;
        margin: 5px 0;
    }
}