    <!-- About Section -->
    <section id="about" class="parallax1">
        <div class="container">
            <div class="hero-content">
                <h2 data-aos="fade-up" data-aos-duration="1000" data-aos-easing="ease-out-cubic">ABOUT ME</h2>
                <p data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200"> I'm Kowsik — a DevOps Engineer focused on building scalable, reliable, and secure infrastructure. I enjoy designing automation workflows, optimizing CI/CD pipelines, and working with containerized environments using tools like Docker, Kubernetes, and Terraform. I thrive at the intersection of development and operations, where efficiency, stability, and innovation meet. </p>
            </div>
        </div>
    </section>




    