<!-- Skills Section -->
<section id="skills" class="skills">
    <div class="container">
        <h2 data-aos="fade-up" data-aos-duration="1000" data-aos-easing="ease-out-cubic">TECHNICAL SKILLS</h2>
        <div class="row">
            <div class="skill-item" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
                <div class="card">
                    <h3>DevOps & Automation</h3>
                    <p>CI/CD, GitHub Actions, GitLab CI, Jenkins, Ansible, Terraform, Helm, SonarQube, Checkmarx, Blackduck, Twistlock</p>
                </div>
            </div>
            <div class="skill-item" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
                <div class="card">
                    <h3>Cloud & Containerization</h3>
                    <p>AWS (EC2, VPC, S3, IAM, Lambda, ALB, ASG), GCP, Docker, Kubernetes (kubeadm, EKS), Istio, Vault</p>
                </div>
            </div>
            <div class="skill-item" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="300">
                <div class="card">
                    <h3>Monitoring & Logging</h3>
                    <p>Prometheus, Grafana, ELK Stack, OpenSearch, Fluentbit, CloudWatch, CloudTrail, Splunk</p>
                </div>
            </div>
            <div class="skill-item" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
                <div class="card">
                    <h3>Programming & Scripting</h3>
                    <p>Shell Scripting, Python, Java, TypeScript, JavaScript (ES6+)</p>
                </div>
            </div>
            <div class="skill-item" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="300">
                <div class="card">
                    <h3>Frameworks & Tools</h3>
                    <p>Spring Boot, REST APIs, Angular, Node.js, Express.js, Cucumber, Maven, Gradle</p>
                </div>
            </div>
            <div class="skill-item" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="300">
                <div class="card">
                    <h3>Databases & Messaging</h3>
                    <p>MySQL, MongoDB, Redis, Oracle, Kafka, Zookeeper</p>
                </div>
            </div>
            <div class="skill-item" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="300">
                <div class="card">
                    <h3>Version Control & Collaboration</h3>
                    <p>Git, GitHub, GitLab, SVN, Jira, ServiceNow</p>
                </div>
            </div>
            <div class="skill-item" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="300">
                <div class="card">
                    <h3>Operating Systems</h3>
                    <p>Linux (Ubuntu, CentOS), Windows</p>
                </div>
            </div>
        </div>
    </div>
</section>
